body {
    background-image: url("../img/mochaGrunge.png");
    background-repeat: repeat;
}

.footer {
    margin: 0;
    clear: both;
    padding: 15px 60px 15px;
    vertical-align: middle;
    line-height: normal;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #000000;
}

.hero-unit {
    margin: 100px 60px 60px;
    padding: 10px 60px 20px;
    background-color: rgba(255,255,255,0.3);
}

