{% extends "homepage.html" %}
{% block container %}

  <div class="body">
    <br><br>
    <div class="container-fluid">
      <div class="container special">
	<h1 class="headingtwo">{{ city }}</h1>
      </div>


      {% if count%2 != 0 %}
      {% set count = count-1 %}
      {% endif %}
      
      {% for tour in tours %}
      
      {% if count%2 == 0 %}
      <div class="row-fluid">
	{% endif %}

	<div class="span6">
	  <div class="hero-unit special" style="padding-top:40px;height:180px">
	    <img src={{ images[loop.index0] }} width="200" height="150">
	    <p><a href="/{{ city }}/{{ tour }}"><h3>{{ tour }}</h3></a></p>
	  </div>
	</div>

	{% if count%2 != 0 %}
      </div>
      {% endif %}

      {% if count == 0 %}
    </div>
      {% endif %}
	
	{% set count = count-1 %}
	{% endfor %}
  </div>
      {% endblock container %}
