<!DOCTYPE html>
<html>
  <head>
    <title>ScavengerTours</title>

    <!-- Styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <div class="body">
    <div class="hero-unit" style="text-align: center">
      <h1>Page is under construction!</h1><br>
      <i class="icon-magic icon-4x"></i> 
    </div>

    <!-- Footer -->
    <div class="footer">
      <p> Grits McGrits 2013 </p>
      Pattern courtesy of <a target="_blank" href="http://www.subtlepatterns.com">Subtle Patterns</a>
    </div>

  </div>

</html>
