<!DOCTYPE html>
<html>
  <head>
    <title>Your Page</title>

    <!-- Styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

  </head>

  <div class="body">
    <div class="container special">
      <h2>We'll have a carousel here, but for the initial test page, it is unnecessary.</h2>
      <p>The carousel will list featured tours (i.e. highest rated ones).</p>
    </div>

    <!-- Your tours -->
    <br><br>
    <div class="hero-unit special">
      This will be located on the side and will list the tours you've made, ideally in a box through which you scroll.
    </div>

    <!-- Score and Links to different pages -->

    <div class="featurette">
      <img class="featurette-image pull-left" src="http://stuycs-ml7.github.com/img/thluffy.png">
      <h2 class="featurette-heading">Create a Tour</h2>
      <p class="lead">Basic info on how to create a tour.</p>
    </div>
    <div class="featurette">
      <img class="featurette-image pull-right" src="http://stuycs-ml7.github.com/img/thluffy.png">
      <h2 class="featurette-heading">Select a Tour</h2>
      <p class="lead">Basic info on how to create a tour.</p>
    </div>

    <div class="special">
	<img src="http://stuycs-ml7.github.com/img/thluffy.png" width="130px">
	<h2>Create a Tour</h2>
	<a class="btn" href="/error">View details &raquo;</a>
    </div>
    <div class="special">
      <img src="http://stuycs-ml7.github.com/img/thluffy.png" width="130px">
      <h2>Select a Tour</h2>
      <p>Select from any of our premade tours to complete at a later time on your mobile device.</p>
      <p><a class="btn" href="/tours">View details &raquo;</a></p>
    </div>
    
    </div>
    
    <!-- Footer! -->
    <div class="footer">
      <div class="row-fluid">
	<div class="span3">
	  Grits McGrits · 2013<br>
	  Pattern courtesy of <a target="_blank" href="http://www.subtlepatterns.com">Subtle Patterns</a>
	</div>
	<div class="span3">
	  Your score: 10000<br>
	  <a href="/home">Back to Home</a>
	</div>
      </div>
    </div>

  </div>
</html>
