<!DOCTYPE html>
<html>
  <head>
    <title>Your Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://stuycs-ml7.github.com/img/thluffy.png">
    <!-- Styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <div class="body">
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span12">
	  <br><br>
	  <div class="hero-unit">
	    <h3>Things on this page:</h3>
	    Your scores.
	    Your tours.
	    Create a tour.
	    Take a tour.
	  </div>
	</div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <p> Grits McGrits 2013 </p>
      Pattern courtesy of <a target="_blank" href="http://www.subtlepatterns.com">Subtle Patterns</a>
    </div>

  </div>

</html>
