{% extends "homepage.html" %}

{% block maps %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>


 <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 80% }
      #selected-city {height:10%}
     
    </style>

<div id="map-canvas"></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>


<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXACwRsXh1G7jZUk4PE_oOqqM2lNEXduU&sensor=false">
</script>

<script>
    var map;
google.maps.event.addDomListener(window, 'load', initialize);

function initialize() {
    
    var mapOptions = {
	center: new google.maps.LatLng(35.029996,-95.273437),
	zoom: 4,
	mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map  = new google.maps.Map(document.getElementById("map-canvas"),
			       mapOptions);
    
    
    listOfCities = "{{ listOfCities }}";
    for(var i = 0; i < listOfCities.length; i++)

    console.log(listOfCities);
    <!-- listOfTestCities = ["Atlanta, Georgia", "New York, New York", "Toronto, Canada","boston","boulder, colorado","rome"]; -->
    var geocoder =  new google.maps.Geocoder();
    for(var i = 0; i < listOfCities.length; i++){
	city = listOfCities[i];
	geocoder.geocode( { 'address': listOfCities[i]}, function(results, status) {
	    if (status == google.maps.GeocoderStatus.OK) {   
		position = new google.maps.LatLng(results[0].geometry.location.lat(),results[0].geometry.location.lng());
		
		marker =  new google.maps.Marker({position: position, map:map});
		google.maps.event.addListener(marker, 'click', function() {
		    var city;
		    geocoder.geocode({ 'latLng': this.position  }, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
			    city = results[0].address_components[3].long_name;
			    place = "<p> <b>You have selected <a> " + city  +"</a>!</b></p>";
			    $("#selected-city").html(place);
			}
		    }); 
    		    
		});
		
	    } else {
		alert("Something is wrong " + status);
	    }
	});
    }
}   
</script>
    {% endblock maps %}
{% block container %}
<div id="map-canvas"></div>
<div id="selected-city">
  <p><b>Please select a city!</b></p>
</div>

{% endblock container %}
