{% extends "index.html" %}

{% block container %}

    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span12">
	  <br><br>

	  <!-- Hero unit for the welcome message and sign up -->
	  <div class="hero-unit" style="margin-top:30px">

	    <!-- This is a welcome message -->
	    <h1>Welcome!</h1>
	    <div class="row-fluid">
	      <div class="span5" style="text-align:justify">
		<p>
		  <br>
		  Have you ever visited a city and felt that ordinary tourist handbooks and attractions did not do their job as thoroughly as expected?<br><br>
		  Or perhaps you have a unique perspective on your hometown and have unusual sites that you want to share?<br><br>
		  Any user can create their own ScavengerTours and share it, allowing others to go on a scavenger hunt around a city, using clues to guide them to new sites, whether they are a first-time tourist or have lived there all their life.
		</p>
	      </div>
	      <div class="span6 offset1" id="#signinbox">
		<br><br>
		<form method="POST" action="" class="form-signin">
		  <h2>Sign Up</h2>
		  <p><div class="input-prepend">
		    <span class="add-on">New Username: </span>
		    <input type="text" class="span5" name="username" size="15" /><br />
		  </div></p>
		  <p><div class="input-prepend">
		    <span class="add-on">New Password: </span>
		    <input type="password" class="span5" name="password" size="15" /><br />
		  </div></p>
		  <p><input type="submit" value="Register" class="btn btn-large"/></p>
		</form>
	      </div>	      
	    </div>
	  </div>
	</div>
      </div>
    </div>
 
{% endblock container %}
