{% extends "index.html" %}

{% block container %}
	      <div id="#signinbox" align="center">
		<h2>Please Sign In</h2>
		<br>
		{% if correct == 0 %}
		<div class="alert alert-error">
		  <i class="icon-warning-sign"></i> Incorrect username or password.
		</div>
		{% endif %}
		<br>
		<form method="POST" action="">
		  <p><div class="input-prepend">
		    <span class="add-on">Username: </span>
		    <input type="text" name="username" size="15" /><br />
		  </div></p>
		  <p><div class="input-prepend">
		    <span class="add-on">Password: </span>
		    <input type="password" name="password" size="15" /><br />
		  </div></p>
		  <p><input type="submit" value="Login" class="btn btn-large"/></p>
		</form>
	      </div>
{% endblock container %}
