{% extends "index.html" %}

{% block container %}
<div id="#signinbox" align="center" style="margin-top:30px">
  <h2>Sign Up</h2>
  <br>
  <form method="POST" action="">
    <p><div class="input-prepend">
	<span class="add-on">New Username: </span>
	<input type="text" name="username" size="15" /><br />
    </div></p>
    <p><div class="input-prepend">
	<span class="add-on">New Password: </span>
	<input type="password" name="password" size="15" /><br />
    </div></p><br>
    <p><input type="submit" value="Register" class="btn btn-large"/></p>
  </form>
</div> 
{% endblock container %}
