<!DOCTYPE html>
<html>
  <head>
    <title>Your Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://stuycs-ml7.github.com/img/thluffy.png">
    <!-- Styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <!-- Start body and containers -->
  <div class="body">
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span12">

	  <!-- Carousel test -->
	  <div id="myCarousel" class="carousel slide">
	    <div class="carousel-inner">
              <div class="item active">
		<img src="http://stuycs-ml7.github.com/img/thluffy.png" alt="">
		<div class="container">
		  <div class="carousel-caption">

		    <h1>Example headline.</h1>
		    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		    <a class="btn btn-large btn-primary" href="#">Sign up today</a>
		  </div>
		</div>
              </div>
              <div class="item">
		
		<img src="http://stuycs-ml7.github.com/img/thluffy.png" alt="">
		<div class="container">
		  <div class="carousel-caption">
		    <h1>Another example headline.</h1>
		    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		    <a class="btn btn-large btn-primary" href="#">Learn more</a>
		  </div>

		</div>
              </div>
              <div class="item">
		<img src="http://stuycs-ml7.github.com/img/thluffy.png" alt="">
		<div class="container">
		  <div class="carousel-caption">
		    <h1>One more for good measure.</h1>
		    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

		    <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
		  </div>
		</div>
              </div>
	    </div>
	    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	  </div>
	  <!-- end carousel test -->

	  <div class="hero-unit">
	    <div class="container special">
	      <div class="row">
		<div class="span3">
		  <img src="http://stuycs-ml7.github.com/img/thluffy.png" width="130px">
		  <h2>Your Scores</h2>
		  <p><a class="btn" href="/error">View details &raquo;</a></p>
		</div>
		<div class="span3">
		  <img src="http://stuycs-ml7.github.com/img/thluffy.png" width="130px">
		  <h2>Your Tours</h2>
		  <p><a class="btn" href="/error">View details &raquo;</a></p>
		</div>
		<div class="span3">
		  <img src="http://stuycs-ml7.github.com/img/thluffy.png" width="130px">
		  <h2>Create a Tour</h2>
		  <p><a class="btn" href="/error">View details &raquo;</a></p>
		</div>
		<div class="span3">
		  <img src="http://stuycs-ml7.github.com/img/thluffy.png" width="130px">
		  <h2>Take a Tour</h2>
		  <p><a class="btn" href="/tours">View details &raquo;</a></p>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <!-- Footer! -->
    <div class="footer">
      <div class="row-fluid">
	<div class="span3">
	  Grits McGrits 2013<br>
	  Pattern courtesy of <a target="_blank" href="http://www.subtlepatterns.com">Subtle Patterns</a>
	</div>
	<div class="span3">
	  Your score: 10000<br>
	  <a href="/home">Back to Home</a>
	</div>
      </div>
    </div>


  </div>

</html>
